/*
	Blake Cornell
	02/16/2025
	styles.css
*/

/*CSS Reset*/
body, head, nav, footer, header, main {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration:none;
}

/*Style rules for header*/
header img {
	width: 100%;
	height:50%;
	display: block;
}

/*Style rules for nav*/
nav {
	background-color:#4169e1;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	text-align: center;
	text-decoration:none;
}

nav li {
	display: block;
	font-size:1.5em;
	font-family:Arial, sans-serif;
	text-decoration:none;
	color:#ffffff
}
nav li a {
	text-decoration:none;
	color:#ffffff
}


/*Style rules for main*/
#main-header {
	color:#4169e1;
	text-align:center;
}

/*Style rules for contact*/
.link {
	color:#4169e1;
	font-weight:bold;
	text-decoration:none;
}
.color-one {
	color:#4169e1;
	font-weight:bold;
}

footer a {
	text-decoration:none;
}

/*Style rules for about info*/
#about {
	text-align:left;
	font-weight:bold;
	text-decoration:none;
}
#about ul {
	list-style-type:none;
}
